<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="http://example.com/image.png"/>
    <link rel="stylesheet" href="config/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="config/css/bootstrap/bootstrap-theme.css">
    <link rel="stylesheet" href="config/libs/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="config/css/css-custom/main-page/main.css">
    <link rel="stylesheet" href="config/css/css-custom/main-page/header.css">
    <link rel="stylesheet" href="config/css/css-custom/main-page/sidebar.css">
    <link rel="stylesheet" href="config/css/css-custom/main-page/user.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Добро пожаловать на SweetFamily</title>
</head>
<body>
<!--    header begin       -->
<header id="header">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-6 col-md-2 d-flex align-items-center">
                <logotype-image-component></logotype-image-component>
            </div>
            <div class="d-none d-md-flex col-md-4 align-items-center">
                <search-form-component
                        :auth="auth">
                </search-form-component>
            </div>
            <div class="d-none d-lg-flex col-lg-3 align-items-center">
                <div class="header__icons-block_wrapper">
                    <icons-block-component
                            v-for="item in classes"
                            :key="item.id"
                            :post="item"
                            :auth="auth"
                    ></icons-block-component>
                </div>
            </div>
            <div class="col-6 col-lg-3 d-flex justify-content-end">
                <user-profile-badge-component :auth="auth"></user-profile-badge-component>
            </div>
        </div>
    </div>
</header>
<!--    header end         -->

<!--    main-block begin         -->
<div id="main" class="grey">
    <div class="container">
        <div class="row">
            <div class="col-md-2  pt-4">
                <ul id="sidebar">
                    <main-sidebar-component
                            v-for="item in sidebar"
                            :key="item.id"
                            :propname="item"
                    ></main-sidebar-component>
                </ul>
            </div>
            <div class="col-md-4 pt-4">
                <div id="user-profile">
                    <div class="content-box">
                        <user-profile-component></user-profile-component>
                    </div>
                    <div class="content-box">
                        <div class="user-profile__friends-box" style="height: 210px; overflow: hidden">
                            <h6 class="user-files__title">Мои друзья</h6>
                            <hr class="m-0">
                            <ul class="user-profile__friends-list d-flex flex-wrap justify-content-center">
                                <user-friends-component
                                        v-for="friend in friends"
                                        :key="friend.id"
                                        :friend="friend">
                                </user-friends-component>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pt-4">
                <div id="profile-info">
                    <div class="content-box">
                        <user-info></user-info>
                    </div>
                    <div class="content-box">
                        <user-files></user-files>
                    </div>
                    <div class="content-box">
                        <user-wall-form></user-wall-form>
                        <div class="message-area">
                            <user-wall-messages
                                    v-for="message in messages"
                                    :key="message.id"
                                    :message="message">
                            </user-wall-messages>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    main-block end         -->

<!--          script-tags        -->
<script src="config/js/jquery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="config/js/bootstrap/bootstrap.min.js"></script>
<script src="config/js/vue/vue.js"></script>
<script src="config/js/js-custom/main-page-components/sidebar.js"></script>
<script src="config/js/js-custom/main-page-components/header.js"></script>
<script src="config/js/js-custom/main-page-components/user.js"></script>
</body>
</html>