@media screen and (max-width: 768px) {
    div.form-group {
        width: 75%;
    }
}

@media screen and (max-width: 430px) {
    div.form-group {
        width: 90%;
    }
    h2.main-block__title{
        font-size: 2rem;
    }
}

@media screen and (max-width: 350px) {
    h2.main-block__title{
        font-size: 1.5rem;
    }
}

.main-block__title,
.custom-label {
    font-family: BlinkMacSystemFont;
    font-style: italic;
    text-align: center;
    font-weight: bold;
}

.custom-label{
    text-align: start;
    font-size: 1.1rem;
}

.main-block__title{
    font-size: 2.6rem;
}

.form-group{
    margin-bottom: 30px;
    width: 45%;
}

.error {
    color: red;
    font-style: italic;
    font-size: 1.2rem;
}

