/*          Logotype      */

.header__logotype-link {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header__logotype-link:hover {
    box-shadow: 0px 0px 3px 3px whitesmoke;
}

.header__logotype-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}


/*         search-form          */

.header__form-input {
    border-radius: 20px;
    width: 250px;
    background: navy;
    outline: none;
    font-size: 0.9rem;
}

.header__form-input:focus {
    background: #fff;
}

.header__btn-search {
    background: transparent;
    border: none;
    left: 225px;
    top: 5px;
}

.header__btn-search:hover,
.header__link-icon:hover,
.header__profile_link:hover{
    text-shadow: 0px 0px 3px whitesmoke;
}


/*     profile    */

.header__profile_link{
    height: 60px;
    padding: 0 30px;
    cursor: pointer;
}

.header__profile_link:hover{
    background: blueviolet;
}

.header__profile-image_wrap{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.header__profile_link:hover
.header__profile_user-name{
    color: darkblue;
}


.header__profile_user-name{
    font-size: 1.3rem;
    font-weight: bold;
    font-style: italic;
    color: darkviolet;
    margin-right: 15px;
}

.dropdown-toggle::after{
    display: none;
}