html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

#header {
    height: 60px;
    background: darkslateblue;
    flex-shrink: 0;
}

.grey {
    flex-grow: 1;
    background: #bbb;
}

.violet {
    color: darkviolet;
}
