#sidebar{
    list-style: none;
    margin: 0;
}

.main__sidebar-link{
    display: block;
    color: darkslateblue;
    font-style: italic;
    font-weight: bolder;
    font-size: 0.9rem;
    margin-bottom: 20px;
    white-space: nowrap;
}

.main__sidebar-link:hover{
    text-shadow: 0px 0px 5px whitesmoke;
}