
.content-box {
    padding: 10px;
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
}

.user-logo {
    width: 100%;
}

.user-logo img{
    border-radius: 10px;
}

.user-logo-edit {
    padding: 0.5em 0;
    margin: 15px 0;
    border-radius: 10px;
}

.user-profile__friends-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-image{
    border-radius: 50%;
}

/*          INFO                */

.user-info__username{
    font-size: 1.3rem;
    font-style: italic;
}

td{
    padding: 5px 20px 0 0;
    font-size: 0.8rem;
}

.user-info__count-opportunities{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.user-info__count-opportunities a{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.user-info__count-opportunities li{
    margin: 0 10px;
}

.user-files__title{
    font-size: 0.9rem;
    font-style: italic;
}

.user-image__wrap{
    overflow: auto;
}

.user-image__wrapper{
    width: 150px;
    height: auto;
    margin: 0 10px;
}

.user-files__wrapper-inner{
    list-style: none;
    white-space: nowrap;
}


/*            MESSAGES            */

.note__user-avatar_wrapper{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.note{
    background: lightgrey;
    border-radius: 10px;
}

.message-area{
    height: 500px;
    margin-top: 2rem;
    overflow: auto;
}
